@using System.Web.Optimization

<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action bg-light">Users</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Computers</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Licenses</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Employees</a>
</div>